.container{
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 20px;
    padding: 15px;
}

.images{
    width: calc(100% - 20px); 
    height: 300px; 
    object-fit: cover;
    display: block;
    margin: 10px auto; 
    border-radius: 12px; 
    border: 1px solid #ccc; 

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin:0;
}

h1{
    padding-top: 20px;
    font-size: 18px;
}