body{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    width: 440px;
    height: 190px;
    border: 2px solid #ccc;
    border-radius: 12px;
    padding: 15px;
}

.images-container {
    width: 220px;
    margin-left: -15px;
    margin-top: -15px;
    margin-bottom: -15px;
    border-radius: 12px 0 0 12px;
    overflow: hidden;
}

.images-container img {
    width: 100%;
    border-radius: 12px 0 0 12px;
}

.info-container {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    padding-left: 20px;
}

.info-container h1 {
    font-size: 16px;
    margin-top: 5px;
}

.info-container p {
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 5px; 
    letter-spacing: 0.9px;
    line-height:1.6;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 40px;
    text-align: center;
}

.control-button {
    background-color:#dcdcdc;
    font-size: 13px;
    margin-right: 10px;
    border-radius: 50px;
    width: 32px;
    height: 32px;
}
